<div class="banner">
  <!--  data-speed - швидкість carousell  -->
  <div class="banner__carousell" data-speed="3">
    <ul class="banner__list carsePartF">
      <li class="banner__item">
        <div class="banner__box">
          <p>banner 1</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <p>banner 2</p>
        </div>
      </li>
    </ul>

    <ul class="banner__list carsePartS">
      <li class="banner__item">
        <div class="banner__box">
          <p>banner 1</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <p>banner 2</p>
        </div>
      </li>
    </ul>
  </div>
</div>
