<div class="modal" id="id-modal" role="dialog" aria-modal="true" tabindex="-1">
  <div class="modal__container container-modal">
    <div class="modal__body">
      <button
        type="button"
        class="modal__close close-modal"
        aria-label="Close modal window"
      >
        X
      </button>

      <!-- <button type="button" class="btn-def open-modal" data-id="id-modal">
        button
      </button> -->

      <div class="modal__wrapp">
        <h2>Modal</h2>
      </div>
    </div>
  </div>
</div>
