.header__body {
  .actions {
    flex-shrink: 0;
  }
  .actions__lang {
    & > li {
      position: relative;
      &::after {
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        right: 0;
        height: 0.5rem;
      }
      &:hover {
        &::after {
          content: "";
        }

        & > ul,
        & > .sub-menu {
          visibility: visible;
          opacity: 1;
        }
      }

      & > a {
      }
      a {
        display: block;
      }

      & > ul,
      & > .sub-menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 100%;
        left: 0;
        right: 0;
        transform: translateY(0.5rem);
        background-color: var(--cw);
        transition: all 0.15s ease-in;
        a {
        }
      }

      li {
        &.current-lang {
          & > a {
          }
        }
      }
    }
  }
  .actions__soc {
  }
}

@media screen and (max-width: 960px) {
  .header__body {
    .actions {
      display: none;
    }
  }

  .mobmenu {
    .actions {
    }
    .actions__lang {
    }
    .actions__soc {
    }
  }
}
