<section class="hero">
  <div class="hero__container">
    <h1>Hero</h1>
    <select class="tom-select" data-txt="Всі проекти:">
      <option value="">All</option>
      <option value="Nikola">Nikola</option>
      <option value="Nikola Tesla">Nikola Tesla</option>
      <option value="Thomas Edison">Thomas Edison</option>
      <option value="Bbbb">Bbbb</option>
      <option value="Cccc">Cccc</option>
      <option value="Dddd">Dddd</option>
      <option value=">Arnold Schwarzenegger sdfs fsd fsd fsdf sd fsd fsd fsd f">
        Aasgfdgrnold Schwarzenegger sdfs fsd fsd fsdf sd fsd fsd fsd f
      </option>
      <option
        value=">Arnold Schwarzeneggerasd sdfs fsd fsd fsdf sd fsd fsd fsd f"
      >
        Aasdasdrnold Schwarzenegger sdfs fsd fsd fsdf sd fsd fsd fsd f
      </option>
    </select>
  </div>
</section>
